<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'match_app:index' %}">PortfolioSite</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'match_app:index' %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_app:detail' request.user.id %}">My Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'match_app:add' %}">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_app:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_app:signup' %}">Signup</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_app:login' %}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'match_app:contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>